.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

@media (min-width: 800px) {
  .footer {
    flex-direction: row;
  }
}
